{% extends 'layout.html' %}

{% block body %}

<div class="row">

    {%for user in users%} 

      <div class="department-item" data-aos="fade-down-left" >
        <div  style="text-decoration: none; color: #992621; display:flex; justify-content:space-between"> 
        <a href="{{url_for("list", userid=user.id)}}" style="text-decoration:none;">
          <h4 class="names"><b> {{user.fullname}}</h4></b>
            <a href="/delete/{{user.id}}"class="btn">
             
              <i class="fas fa-trash" aria-hidden="true">hide</i></a>
        </div>
            <h6 class="text-muted">{{user.indexnumber}}</h6>
          </div>

    {% endfor %}  
  
  </div>
    </div>




{% endblock body %}







